@font-face {
  font-family: "Departure";
  src: url("../public/DepartureMono-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Geist";
  src: url("../public/Geist.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #050505;
}
